In [2]:
import pandas as pd

In [26]:
df = pd.read_csv("RAWFULL_WaterTankData.csv")

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55707 entries, 0 to 55706
Data columns (total 21 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   BOROUGH             55707 non-null  object
 1   ZIP                 55629 non-null  float64
 2   HOUSE_NUM           55707 non-null  object
 3   STREET_NAME         55707 non-null  object
 4   BLOCK               55707 non-null  int64
 5   TANK_NUM            55707 non-null  int64
 6   INSPECTION_DATE     55685 non-null  object
 7   INTERNAL_STRUCTURE  55610 non-null  object
 8   EXTERNAL_STRUCTURE  55649 non-null  object
 9   SEDIMENT            55605 non-null  object
 10  BIOLOGICAL_GROWTH   55604 non-null  object
 11  DEBRIS_INSECTS      55603 non-null  object
 12  RODENT_BIRD         55645 non-null  object
 13  COLIFORM            55571 non-null  object
 14  ECOLI               55571 non-null  object
 15  MEET_STANDARDS      11127 non-null  object
 16  LATITUDE            55602 non-null  float64
 17  LONGITUDE           55602 non-null  float64
 18  COMMUNITY_BOARD     55602 non-null  float64
 19  COUNCIL_DISTRICT    55602 non-null  float64
 20  CENSUS_TRACT        55602 non-null  float64
dtypes: float64(6), int64(2), object(13)
memory usage: 8.9+ MB

In [32]:
## 90 tanks with biological growth
df.query("BIOLOGICAL_GROWTH == 'A'")

,BOROUGH,ZIP,HOUSE_NUM,STREET_NAME,BLOCK,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,...,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
390,MANHATTAN,10029.0,1220,Fifth Avenue,1609,1,5/5/21,N,N,A,...,N,N,N,N,NaN,40.792438,-73.952448,11.0,8.0,168.0
593,MANHATTAN,10065.0,812,Fifth Avenue,1377,1,4/21/15,N,N,A,...,A,A,N,N,NaN,40.766378,-73.971459,8.0,4.0,11401.0
605,MANHATTAN,10128.0,47,East 88th Street,1500,1,4/20/21,N,N,A,...,N,N,N,N,NaN,40.781980,-73.957410,8.0,4.0,15002.0
1619,MANHATTAN,10028.0,120,East End Avenue,1582,1,7/13/15,N,N,A,...,N,N,N,N,NaN,40.774474,-73.945518,8.0,5.0,14401.0
1786,MANHATTAN,10013.0,125,worth street,168,1,12/19/20,A,N,A,...,A,N,N,N,NaN,40.715428,-74.002673,1.0,1.0,31.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52025,MANHATTAN,10002.0,160,Madison Street,255,1,10/21/20,N,N,N,...,N,N,N,N,NaN,40.712488,-73.991924,3.0,1.0,6.0
52464,MANHATTAN,10017.0,310,East 46th Street,1338,1,10/7/20,N,N,N,...,N,N,N,N,NaN,40.752154,-73.969834,6.0,4.0,90.0
54722,MANHATTAN,10016.0,305,East 40th Street,1333,1,4/29/21,N,N,A,...,N,N,N,N,NaN,40.748469,-73.972954,6.0,4.0,88.0
54869,BROOKLYN,11206.0,760,Broadway,1723,1,6/12/18,N,N,A,...,N,N,N,N,NaN,40.700528,-73.941604,3.0,36.0,28501.0
55628,MANHATTAN,10022.0,4,Sutton Place,1369,1,10/27/20,N,N,A,...,N,N,N,N,NaN,40.757512,-73.960576,6.0,5.0,10601.0

In [34]:
## 237 tanks have unacceptable internal or external structure
df.query("(INTERNAL_STRUCTURE=='A') or (EXTERNAL_STRUCTURE=='A')")

,BOROUGH,ZIP,HOUSE_NUM,STREET_NAME,BLOCK,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,...,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
96,MANHATTAN,10007.0,One,One World Trade Center,58,2,5/7/15,A,A,A,...,N,N,N,N,NaN,40.713099,-74.013062,1.0,1.0,13.0
188,MANHATTAN,10038.0,15,Saint james Place,111,1,7/2/19,N,A,N,...,N,N,N,N,NaN,40.711571,-73.999903,3.0,1.0,25.0
222,MANHATTAN,10016.0,305,East 40th Street,1333,1,10/29/17,A,A,A,...,N,N,N,N,NaN,40.748469,-73.972954,6.0,4.0,88.0
439,MANHATTAN,10013.0,100,Centre street,167,2,11/28/23,N,A,N,...,N,N,N,N,NaN,40.716084,-74.001425,1.0,1.0,29.0
1161,MANHATTAN,10002.0,160,Madison Street,255,1,3/22/19,N,A,N,...,N,N,N,N,NaN,40.712488,-73.991924,3.0,1.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55085,BROOKLYN,11201.0,345,Adams street,140,1,12/5/24,A,N,N,...,N,N,N,N,NaN,40.693400,-73.988915,2.0,33.0,11.0
55117,MANHATTAN,10037.0,506,Lenox Avenue,1733,2,7/28/18,A,A,N,...,N,N,N,N,NaN,40.814358,-73.940659,10.0,9.0,212.0
55122,BROOKLYN,11201.0,345,adams street,140,3,11/28/21,A,N,A,...,N,N,N,N,NaN,40.693400,-73.988915,2.0,33.0,11.0
55219,BROOKLYN,11233.0,311,Patchen Avenue,1688,1,9/10/19,N,A,N,...,N,N,N,N,NaN,40.680567,-73.925559,3.0,41.0,381.0
55359,BROOKLYN,11201.0,210,Joralemon street,266,1,8/11/22,A,A,N,...,N,N,N,N,NaN,40.692459,-73.990491,2.0,33.0,9.0

In [48]:
## determine that Meet Standards column is unfilled/inaccurate

df.query("MEET_STANDARDS== 'N' or MEET_STANDARDS == ' '")

,BOROUGH,ZIP,HOUSE_NUM,STREET_NAME,BLOCK,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,...,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
2658,QUEENS,11106.0,34-27,34th St,642,2,1/1/21,NaN,NaN,N,...,N,NaN,N,N,N,40.758027,-73.925263,1.0,26.0,57.0
15454,QUEENS,11106.0,34-27,34th St,642,2,1/1/21,NaN,NaN,N,...,N,NaN,N,N,N,40.758027,-73.925263,1.0,26.0,57.0
19849,MANHATTAN,10007.0,101,BARCLAY STREET,128,1,7/28/15,N,N,N,...,N,N,NaN,NaN,N,40.713767,-74.011925,1.0,1.0,21.0
23817,BRONX,10475.0,100,Dreiser Loop,5141,1,2/19/23,A,A,N,...,N,N,NaN,NaN,N,40.878155,-73.828130,10.0,12.0,46201.0
24886,BRONX,10475.0,100,Dreiser Loop,5141,1,10/31/22,A,A,N,...,N,N,NaN,NaN,N,40.878155,-73.828130,10.0,12.0,46201.0
28288,MANHATTAN,10017.0,757,THIRD AVENUE,1321,1,5/8/15,N,N,N,...,N,N,NaN,NaN,N,40.754035,-73.972056,6.0,4.0,90.0
40835,QUEENS,11106.0,34-27,34th St,642,1,1/1/21,N,N,N,...,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
42528,QUEENS,11106.0,34-27,34th St,642,1,1/1/21,NaN,NaN,NaN,...,NaN,NaN,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
43057,QUEENS,11106.0,34-27,34th St,642,1,1/1/21,N,NaN,NaN,...,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
46723,MANHATTAN,10007.0,101,BARCLAY STREET,128,2,7/28/15,N,N,N,...,N,N,NaN,NaN,N,40.713767,-74.011925,1.0,1.0,21.0
50111,QUEENS,11106.0,34-27,34th St,642,2,1/1/21,NaN,NaN,N,...,N,NaN,N,N,N,40.758027,-73.925263,1.0,26.0,57.0

In [50]:
df.query("(COLIFORM=='A') or (ECOLI=='A')")

,BOROUGH,ZIP,HOUSE_NUM,STREET_NAME,BLOCK,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,...,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
3610,BROOKLYN,11238.0,45,Monroe Street,1985,1,12/14/15,N,N,N,...,N,N,N,A,NaN,40.684695,-73.957367,3.0,35.0,229.0
3939,STATEN ISLAND,10307.0,35,Hale Street,8034,1,3/21/00,N,N,N,...,N,N,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
5221,MANHATTAN,10013.0,111,Centre Street,169,1,12/15/15,N,N,N,...,N,N,N,A,NaN,40.716317,-74.001277,1.0,1.0,31.0
8122,STATEN ISLAND,10307.0,35,hale street,8034,1,2/4/22,N,N,N,...,N,NaN,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
14813,STATEN ISLAND,10307.0,35,Hale Street,8034,1,3/21/00,N,N,N,...,N,N,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
15215,BROOKLYN,11201.0,120,Schermerhorn Street,169,1,12/20/15,N,N,N,...,N,N,N,A,NaN,40.690074,-73.988923,2.0,33.0,43.0
15859,STATEN ISLAND,10307.0,35,hale street,8034,1,2/4/22,N,N,N,...,N,NaN,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
17934,BRONX,10461.0,1400,Pelham Parkway South,4205,4,2/22/17,N,N,A,...,A,N,A,N,NaN,40.857427,-73.847079,11.0,13.0,296.0
18055,BROOKLYN,11201.0,180,Montague Street,250,1,5/12/17,N,N,N,...,N,N,A,A,NaN,40.694079,-73.991756,2.0,33.0,9.0
20964,BROOKLYN,11201.0,138,Willoughby Street,149,1,6/24/24,N,N,A,...,N,N,A,N,NaN,40.692069,-73.983135,2.0,33.0,15.0
33245,STATEN ISLAND,10307.0,35,Hale Street,8034,1,3/21/00,N,N,N,...,N,N,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
37456,STATEN ISLAND,10307.0,35,hale street,8034,1,2/4/22,N,N,N,...,N,NaN,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
38770,MANHATTAN,10013.0,80,Centre Street,166,1,12/16/15,N,N,N,...,N,N,N,A,NaN,40.715447,-74.001890,1.0,1.0,29.0
40835,QUEENS,11106.0,34-27,34th St,642,1,1/1/21,N,N,N,...,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
42528,QUEENS,11106.0,34-27,34th St,642,1,1/1/21,NaN,NaN,NaN,...,NaN,NaN,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
43057,QUEENS,11106.0,34-27,34th St,642,1,1/1/21,N,NaN,NaN,...,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
44519,QUEENS,11101.0,45-30,36 Street,226,2,7/25/18,N,N,A,...,A,N,A,N,NaN,40.743509,-73.929076,2.0,26.0,179.0
44612,BROOKLYN,11217.0,62,HANSON PLACE,2003,1,8/23/23,N,N,N,...,N,N,A,N,NaN,40.685414,-73.975096,2.0,35.0,35.0
47247,BROOKLYN,11201.0,180,Montague Street,250,1,5/12/17,NaN,NaN,NaN,...,NaN,NaN,A,A,NaN,40.694079,-73.991756,2.0,33.0,9.0
47504,BRONX,10461.0,1400,Pelham Parkway South,4205,3,2/22/17,N,N,A,...,A,N,A,N,NaN,40.857427,-73.847079,11.0,13.0,296.0
49100,MANHATTAN,10023.0,114,West 70th Street,1141,1,11/12/15,N,N,N,...,N,N,A,A,NaN,40.776318,-73.980265,7.0,6.0,153.0
49520,STATEN ISLAND,10307.0,35,hale street,8034,1,2/4/22,N,N,N,...,N,NaN,A,A,NaN,40.514811,-74.236572,3.0,51.0,248.0
49824,BROOKLYN,11217.0,62,HANSON PLACE,2003,1,8/23/23,N,N,N,...,N,N,A,N,NaN,40.685414,-73.975096,2.0,35.0,35.0
50622,MANHATTAN,10031.0,181,Convent Avenue,1957,2,12/27/24,N,N,A,...,N,N,A,N,NaN,40.819574,-73.949921,9.0,9.0,21703.0
52055,MANHATTAN,10013.0,137,Centre Street,197,1,12/18/15,N,N,N,...,N,N,N,A,NaN,40.717157,-74.000653,1.0,1.0,31.0

In [52]:
## 213 water tanks have insect debris
df.query("DEBRIS_INSECTS=='A'")

,BOROUGH,ZIP,HOUSE_NUM,STREET_NAME,BLOCK,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,...,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
593,MANHATTAN,10065.0,812,Fifth Avenue,1377,1,4/21/15,N,N,A,...,A,A,N,N,NaN,40.766378,-73.971459,8.0,4.0,11401.0
706,MANHATTAN,10016.0,462,First Avenue,962,3,8/26/17,N,N,A,...,A,N,N,N,NaN,40.739497,-73.976624,6.0,4.0,62.0
820,BROOKLYN,11205.0,100,North Portland Avenue,2039,4,7/1/17,N,N,A,...,A,N,N,N,NaN,40.695268,-73.976232,2.0,35.0,2901.0
1550,MANHATTAN,10007.0,225,Broadway,88,4,12/14/15,N,N,N,...,A,N,N,N,NaN,40.711870,-74.008217,1.0,1.0,21.0
1604,BRONX,10460.0,1010,East 178th Street,3130,1,8/15/19,N,N,N,...,A,N,N,N,NaN,40.841412,-73.880463,6.0,15.0,361.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54010,MANHATTAN,10013.0,100,Centre Street,167,2,5/6/22,N,A,A,...,A,N,N,N,NaN,40.716084,-74.001425,1.0,1.0,29.0
54285,MANHATTAN,10013.0,100,Centre Street,167,2,5/6/22,N,A,A,...,A,N,N,N,NaN,40.716084,-74.001425,1.0,1.0,29.0
54620,QUEENS,11373.0,79-01,Broadway,1500,3,11/9/15,N,N,A,...,A,N,N,N,NaN,40.744416,-73.886097,4.0,25.0,267.0
55431,MANHATTAN,10023.0,40-50,Amsterdam Avenue,1154,1,7/11/19,N,N,A,...,A,N,N,N,NaN,40.771703,-73.986685,7.0,6.0,151.0
55614,BROOKLYN,11201.0,138,Willoughby Street,149,4,6/20/22,N,N,A,...,A,N,N,N,NaN,40.692069,-73.983135,2.0,33.0,15.0

In [54]:
## 226 water tanks have rodent/bird, or insect debris
df.query("(RODENT_BIRD=='A') or (DEBRIS_INSECTS=='A')")

,BOROUGH,ZIP,HOUSE_NUM,STREET_NAME,BLOCK,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,...,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
593,MANHATTAN,10065.0,812,Fifth Avenue,1377,1,4/21/15,N,N,A,...,A,A,N,N,NaN,40.766378,-73.971459,8.0,4.0,11401.0
706,MANHATTAN,10016.0,462,First Avenue,962,3,8/26/17,N,N,A,...,A,N,N,N,NaN,40.739497,-73.976624,6.0,4.0,62.0
820,BROOKLYN,11205.0,100,North Portland Avenue,2039,4,7/1/17,N,N,A,...,A,N,N,N,NaN,40.695268,-73.976232,2.0,35.0,2901.0
1550,MANHATTAN,10007.0,225,Broadway,88,4,12/14/15,N,N,N,...,A,N,N,N,NaN,40.711870,-74.008217,1.0,1.0,21.0
1604,BRONX,10460.0,1010,East 178th Street,3130,1,8/15/19,N,N,N,...,A,N,N,N,NaN,40.841412,-73.880463,6.0,15.0,361.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54010,MANHATTAN,10013.0,100,Centre Street,167,2,5/6/22,N,A,A,...,A,N,N,N,NaN,40.716084,-74.001425,1.0,1.0,29.0
54285,MANHATTAN,10013.0,100,Centre Street,167,2,5/6/22,N,A,A,...,A,N,N,N,NaN,40.716084,-74.001425,1.0,1.0,29.0
54620,QUEENS,11373.0,79-01,Broadway,1500,3,11/9/15,N,N,A,...,A,N,N,N,NaN,40.744416,-73.886097,4.0,25.0,267.0
55431,MANHATTAN,10023.0,40-50,Amsterdam Avenue,1154,1,7/11/19,N,N,A,...,A,N,N,N,NaN,40.771703,-73.986685,7.0,6.0,151.0
55614,BROOKLYN,11201.0,138,Willoughby Street,149,4,6/20/22,N,N,A,...,A,N,N,N,NaN,40.692069,-73.983135,2.0,33.0,15.0

In [58]:
## 42 tanks have rodent or bird poop
df.query("RODENT_BIRD=='A'")

,BOROUGH,ZIP,HOUSE_NUM,STREET_NAME,BLOCK,TANK_NUM,INSPECTION_DATE,INTERNAL_STRUCTURE,EXTERNAL_STRUCTURE,SEDIMENT,...,DEBRIS_INSECTS,RODENT_BIRD,COLIFORM,ECOLI,MEET_STANDARDS,LATITUDE,LONGITUDE,COMMUNITY_BOARD,COUNCIL_DISTRICT,CENSUS_TRACT
593,MANHATTAN,10065.0,812,Fifth Avenue,1377,1,4/21/15,N,N,A,...,A,A,N,N,NaN,40.766378,-73.971459,8.0,4.0,11401.0
5113,BROOKLYN,11217.0,198,Bond Street,392,1,8/6/19,N,A,A,...,A,A,N,N,NaN,40.683171,-73.987413,6.0,33.0,71.0
7485,MANHATTAN,10036.0,33,West 46th street,1262,1,10/3/15,A,A,A,...,A,A,N,N,NaN,40.756553,-73.980242,5.0,4.0,96.0
7521,BRONX,10456.0,1118,Grand Concourse,2462,1,11/21/21,N,A,A,...,A,A,N,N,NaN,40.832232,-73.919655,4.0,16.0,18102.0
7648,MANHATTAN,10128.0,1111,park ave,1518,1,7/1/15,N,N,A,...,A,A,N,N,NaN,40.782473,-73.955513,8.0,4.0,14802.0
9675,MANHATTAN,10021.0,720,Park Avenue,1385,1,6/23/21,N,N,N,...,N,A,N,N,NaN,40.769950,-73.964681,8.0,4.0,130.0
11078,BROOKLYN,11201.0,210,Joralemon Street,266,2,11/28/20,A,A,A,...,A,A,N,N,NaN,40.692459,-73.990491,2.0,33.0,9.0
11368,MANHATTAN,10128.0,1111,park ave,1518,2,7/1/15,N,N,A,...,A,A,N,N,NaN,40.782473,-73.955513,8.0,4.0,14802.0
13783,MANHATTAN,10039.0,2971,Frederick Douglas Boulevard,2106,1,6/20/19,N,N,A,...,A,A,N,N,NaN,40.830297,-73.936456,10.0,9.0,24302.0
14679,MANHATTAN,10019.0,15,West 56th Street,1272,1,2/11/21,N,N,A,...,A,A,N,N,NaN,40.762640,-73.975258,5.0,4.0,11201.0
15944,BROOKLYN,11201.0,210,Joralemon Street,266,3,11/28/20,A,A,A,...,A,A,N,N,NaN,40.692459,-73.990491,2.0,33.0,9.0
17254,BROOKLYN,11217.0,426,Baltic Street,404,1,8/6/19,N,A,A,...,A,A,N,N,NaN,40.683555,-73.988552,6.0,33.0,71.0
20014,MANHATTAN,10021.0,730,Park Avenue,1385,1,8/17/17,N,N,A,...,A,A,N,N,NaN,40.770553,-73.964897,8.0,4.0,130.0
20751,MANHATTAN,10035.0,1879,Madison Avenue,1747,1,9/19/18,N,N,N,...,N,A,N,N,NaN,40.803610,-73.942250,11.0,9.0,198.0
21384,BROOKLYN,11203.0,451,Clarkson Avenue,4829,7,1/24/18,N,N,A,...,N,A,N,N,NaN,40.655760,-73.944602,9.0,40.0,808.0
21711,BRONX,10456.0,1118,Grand Concourse,2462,1,11/21/20,N,A,A,...,A,A,N,N,NaN,40.832232,-73.919655,4.0,16.0,18102.0
22144,MANHATTAN,10029.0,70,East 108th Street,1613,2,10/7/20,N,N,N,...,N,A,N,N,NaN,40.794429,-73.947434,11.0,8.0,17401.0
24936,MANHATTAN,10036.0,520,12th Ave,1090,1,11/22/21,N,A,N,...,N,A,N,N,NaN,40.762316,-74.000036,4.0,3.0,129.0
27067,BROOKLYN,11201.0,210,Joralemon Street,266,1,11/28/20,A,A,A,...,A,A,N,N,NaN,40.692459,-73.990491,2.0,33.0,9.0
27669,MANHATTAN,10128.0,1111,park ave,1518,4,7/1/15,N,N,A,...,A,A,N,N,NaN,40.782473,-73.955513,8.0,4.0,14802.0
28296,MANHATTAN,10013.0,80,centre street,166,1,12/19/20,A,A,A,...,A,A,N,N,NaN,40.715447,-74.001890,1.0,1.0,29.0
28396,BROOKLYN,11224.0,2839,West 33rd Street,7007,1,8/14/19,N,N,A,...,A,A,N,N,NaN,40.576306,-73.999849,13.0,47.0,328.0
28586,MANHATTAN,10002.0,160,Madison Street,255,2,10/22/20,N,N,N,...,N,A,N,N,NaN,40.712488,-73.991924,3.0,1.0,6.0
31358,MANHATTAN,10025.0,12,West 96th Street,1209,1,8/9/17,N,N,A,...,N,A,N,N,NaN,40.791880,-73.965222,7.0,6.0,181.0
31616,MANHATTAN,10013.0,125,worth street,168,2,12/19/20,A,N,A,...,A,A,N,N,NaN,40.715428,-74.002673,1.0,1.0,31.0
32752,MANHATTAN,10002.0,80-90,Baruch Drive,323,2,5/21/19,A,N,A,...,A,A,N,N,NaN,40.717693,-73.978081,3.0,2.0,1002.0
34146,MANHATTAN,10021.0,720,Park Avenue,1385,1,6/23/21,N,N,N,...,N,A,N,N,NaN,40.769950,-73.964681,8.0,4.0,130.0
37397,MANHATTAN,10029.0,1901,First Avenue,1669,1,1/28/16,N,N,N,...,N,A,N,N,NaN,40.784557,-73.943780,11.0,8.0,15602.0
39935,MANHATTAN,10075.0,201,East 80th Street,1526,1,7/12/17,N,N,A,...,A,A,N,N,NaN,40.774832,-73.956454,8.0,5.0,138.0
40835,QUEENS,11106.0,34-27,34th St,642,1,1/1/21,N,N,N,...,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
41302,MANHATTAN,10007.0,31,Chambers street,153,2,12/10/21,A,A,A,...,A,A,NaN,NaN,NaN,40.713402,-74.004635,1.0,1.0,31.0
41758,MANHATTAN,10007.0,31,Chambers street,153,2,11/21/20,A,A,A,...,A,A,N,N,NaN,40.713402,-74.004635,1.0,1.0,31.0
41864,MANHATTAN,10029.0,70,East 108th Street,1613,1,10/6/20,N,N,N,...,N,A,N,N,NaN,40.794429,-73.947434,11.0,8.0,17401.0
43057,QUEENS,11106.0,34-27,34th St,642,1,1/1/21,N,NaN,NaN,...,N,A,N,A,N,40.758027,-73.925263,1.0,26.0,57.0
44674,MANHATTAN,10017.0,17E,48TH STREET,1284,1,7/30/15,A,A,A,...,A,A,N,N,NaN,NaN,NaN,NaN,NaN,NaN
45409,MANHATTAN,10036.0,38W,48TH STREET,1263,1,7/29/15,A,A,A,...,A,A,N,N,NaN,NaN,NaN,NaN,NaN,NaN
47494,MANHATTAN,10128.0,1111,park ave,1518,3,7/1/15,N,N,A,...,A,A,N,N,NaN,40.782473,-73.955513,8.0,4.0,14802.0
48033,MANHATTAN,10029.0,1405,Park Avenue,1632,1,5/2/19,N,N,A,...,A,A,N,N,NaN,40.791797,-73.948703,11.0,8.0,166.0
48131,BROOKLYN,11224.0,2007,Surf Avenue,7059,1,6/27/19,N,A,N,...,N,A,N,N,NaN,40.574792,-73.986991,13.0,47.0,326.0
50664,BRONX,10456.0,1118,Grand Concourse,2462,1,11/21/21,N,A,A,...,A,A,NaN,NaN,NaN,40.832232,-73.919655,4.0,16.0,18102.0
51515,MANHATTAN,10007.0,31,Chambers street,153,1,12/10/21,A,A,A,...,A,A,NaN,NaN,NaN,40.713402,-74.004635,1.0,1.0,31.0
51924,BROOKLYN,11224.0,2940,West 31st Street,7049,1,8/14/19,N,A,A,...,A,A,N,N,NaN,40.574480,-73.997372,13.0,47.0,342.0

In [14]:
bacteriadf["ZIP"].unique()

array([10307., 11201., 11106., 11217., 10031.])

In [15]:
bacteriadf.count()

BOROUGH                         11
ZIP                             11
Address                         11
TANK_NUM                        11
INSPECTION_DATE                 11
GI_RESULT_INTERNAL_STRUCTURE    10
GI_RESULT_EXTERNAL_STRUCTURE     9
SI_RESULT_SEDIMENT               9
SI_RESULT_BIOLOGICAL_GROWTH      6
SI_RESULT_DEBRIS_INSECTS        10
SI_RESULT_RODENT_BIRD            6
ANALYTES                        11
COLIFORM                        11
ECOLI                           11
MEET_STANDARDS                   3
dtype: int64

In [16]:
dnmeet = df.query("MEET_STANDARDS == 'N'")

In [17]:
dnmeet.count()

BOROUGH                         8
ZIP                             8
Address                         8
TANK_NUM                        8
INSPECTION_DATE                 8
GI_RESULT_INTERNAL_STRUCTURE    4
GI_RESULT_EXTERNAL_STRUCTURE    3
SI_RESULT_SEDIMENT              6
SI_RESULT_BIOLOGICAL_GROWTH     7
SI_RESULT_DEBRIS_INSECTS        7
SI_RESULT_RODENT_BIRD           4
ANALYTES                        6
COLIFORM                        6
ECOLI                           6
MEET_STANDARDS                  8
dtype: int64

In [18]:
df.count()

BOROUGH                         30528
ZIP                             30502
Address                         30528
TANK_NUM                        30528
INSPECTION_DATE                 30528
GI_RESULT_INTERNAL_STRUCTURE    30489
GI_RESULT_EXTERNAL_STRUCTURE    30521
SI_RESULT_SEDIMENT              30484
SI_RESULT_BIOLOGICAL_GROWTH     30486
SI_RESULT_DEBRIS_INSECTS        30485
SI_RESULT_RODENT_BIRD           30520
ANALYTES                        30487
COLIFORM                        30487
ECOLI                           30487
MEET_STANDARDS                   3213
dtype: int64

In [64]:
df["INSPECTION_DATE"] = pd.to_datetime(df["INSPECTION_DATE"], format="%m/%d/%Y")

ValueError: time data "11/6/19" doesn't match format "%m/%d/%Y", at position 0. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [66]:
start_date = pd.Timestamp("2020-01-01")
end_date = pd.Timestamp("2025-04-08")

In [70]:
df["INSPECTION_DATE"] = pd.to_datetime(df["INSPECTION_DATE"])

# filter the dataframe with the dates
df20tonow = df[(df["INSPECTION_DATE"] >= start_date) & (df["INSPECTION_DATE"] <= end_date)]

/var/folders/rc/n80vvwzn0cgc5d6p28yqkgtm0000gn/T/ipykernel_2365/548982198.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["INSPECTION_DATE"] = pd.to_datetime(df["INSPECTION_DATE"])

In [72]:
df20tonow.to_csv("WaterTankData_CLEANED_2020toPresent.csv", index=False)

In [74]:
## creating a new dataset for google map creation. using alltime data, combining rodent + insect debris violations, combining structural violations, combining coliform and ecoli violations
dfALLTIME = pd.read_csv("WaterTankData_CLEANED_ALLTIME.csv")

In [80]:
dirtytanksalltime = dfALLTIME.query("(RODENT_BIRD=='A') or (DEBRIS_INSECTS=='A') or (COLIFORM=='A') or (ECOLI=='A') or (BIOLOGICAL_GROWTH == 'A') or (INTERNAL_STRUCTURE=='A') or (EXTERNAL_STRUCTURE=='A')")

In [92]:
start_date = pd.Timestamp("2020-01-01")
end_date = pd.Timestamp("2025-04-08")
dirtytanksalltime["INSPECTION_DATE"] = pd.to_datetime(dirtytanksalltime["INSPECTION_DATE"])
dt2020tonow = dirtytanksalltime[(dirtytanksalltime["INSPECTION_DATE"] >= start_date) & (dirtytanksalltime["INSPECTION_DATE"] <= end_date)]

/var/folders/rc/n80vvwzn0cgc5d6p28yqkgtm0000gn/T/ipykernel_2365/2233256277.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dirtytanksalltime["INSPECTION_DATE"] = pd.to_datetime(dirtytanksalltime["INSPECTION_DATE"])

In [96]:
dt2020tonow.to_csv("Tanks_with_one_or_more_violations_2020_to_present.csv")